body{
  background: darkblue;
}

.container {
  background-color: darkblue;
  z-index: -5;
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: lightblue;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  z-index: -1;
}

.small{
  width: 200px;
  height: 200px;
  left: 625px;
  bottom: 300px;
}

.medium{
  width: 400px;
  height: 400px;
  left: 525px;
  bottom: 200px;
}

.large{
  width: 600px;
  height: 600px;
  left: 425px;
  bottom: 100px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: 325px;
  bottom: 0px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: 225px;
  bottom: -100px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

.ripple {
  background: darkblue;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(0.8);
  }
}
