h1 {
    color: darkblue;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 1px;
}

h2 {
    color: darkblue;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 0px;
    font-family: 'Archivo Narrow', sans-serif;
}

h3 {
    color: darkblue;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 0px;
    font-family: 'Archivo Narrow', sans-serif;
}

div {
  background: white;
  align-content: center;

}

.title1  {
    width: 750px;
    border: 20px white;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align_content: center;
}

.welcome {
    width: 1000px;
    border: 20px white;
    padding: 50px;
    margin-top: 275px;
    margin-bottom: 275px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align_content: center;
}

.info  {
    width: 1000px;
    height: 600px;
    border: 20px white;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align_content: center;
}

.info1  {
    width: 1000px;
    height: 800px;
    border: 20px white;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align_content: center;
}


.info2  {
    width: 1000px;
    height: 1200px;
    border: 20px white;
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align_content: center;
}

.info3  {
    width: 1000px;
    height: 1500px;
    border: 20px white;
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align_content: center;
}

.story  {
    width: 1000px;
    height: 700px;
    border: 20px white;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align_content: center;
}

.mainMenuButton {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}

.next {
    padding: 15px;
}

.ArchivoNarrowH1 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 100px;
}

.ArchivoNarrowH2 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
}

.ArchivoNarrowH3 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
}

.ArchivoNarrowH4 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
}

.ArchivoNarrowH5 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 12px;
}

.ArchivoNarrowH3B {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
    font-weight: bold;
}

.ArchivoNarrow {
  font-family: 'Archivo Narrow', sans-serif;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert.success {background-color: #4CAF50;}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 500px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.green {background-color: #4CAF50!important} /* Green */
.red {background-color: #f44336!important} /* Red */




